@model ElephantQuiz.Web.ViewModels.EditQuizViewModel

@{
    ViewBag.Title = Model.Title;
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        
        @Html.EditorFor(x => x.Title)

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
